body{
  background-image: url(../photos/4.jpg) ;
  
 background-attachment: fixed;
background-position: 50% 50% ;
background-size: cover;
  margin: 20px;
  text-transform: capitalize;

  max-height: 500px;
}
input {

font-size: 2rem;
border: 1px white;
background-color: rgb(255, 255, 255) ;
grid-column: span 2;
height: 55px;
width: 250px;
align-content: center;
word-wrap: break-word;
justify-content: center ;  
align-content: center;
left: 550px;
top: 0px;
position: relative;
font-size: 20px;
}


a{
text-decoration: none ;
color: black ;
}
h3{font-size: 50px;
color: rgba(26, 223, 223, 0.87);}
label{
  font-size: 50px;
  left: 450px;
top: 0px;
position: relative;
font-weight: 900;
color: white;
}
#logout{

  font-size: 2rem;
border: 1px white;
background-color: rgb(255, 0, 0) ;
grid-column: span 2;
height: 55px;
width: 250px;
align-content: center;
word-wrap: break-word;
justify-content: center ;  
align-content: center;
left: 1000px;
bottom: 280px;
position: relative;
font-size: 30px;
}
