body{
  background-image: url(../photos/2.jpg) ;
  
 background-attachment: fixed;
background-position: 50% 50% ;
background-size: cover;
  margin: 20px;
  text-transform: capitalize;

  max-height: 500px;
}
input {

font-size: 2rem;
border: 1px white;
background-color: rgb(255, 255, 255) ;
grid-column: span 2;
height: 110px;
width: 300px;
align-content: center;
word-wrap: break-word;
justify-content: center ;  
align-content: center;
left: 550px;
top: 0px;
position: relative;
font-size: 30px;
}


a{
text-decoration: none ;
color: black ;
}
h3{font-size: 50px;
  color: rgb(16, 32, 121);

  background-color: rgba(255, 255, 255, 0.329);}
label{
  font-size: 50px;
  left: 450px;
top: 0px;
position: relative;
font-weight: 900;
color: white;
}
